@import "./styles/sidenav.css";
@import "./styles/studentDashboard.css";
* {
  margin: 0;
  padding: 0;
}
.of {
  height: 88vh;
  overflow-y: auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card{
  overflow-x: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(27, 25, 25); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 54, 54); 
}

input[type=checkbox]+label{
  
  display:block;
  margin:0.2em;
}
 
input[type=checkbox]{
  display:none;
}

input[type=checkbox].accept+label:before{
  content:"\2714"; /*274c*/
  
   border:0.1em solid #000;
  border-radius:0.2em;
  display :inline-block;
  width:2em;
  height: 2em;
  padding-left: 0.4em;
   padding-bottom: 0.3em;
  /*margin-right: 0.2em;*/
  vertical-align: bottom;
  color: transparent;  
}


input[type=checkbox].reject+label:before{
  content:"\274c"; /*274c*/
  
   border:0.1em solid #000;
  border-radius:0.2em;
  display :inline-block;
  width:2em;
  height: 2em;
  padding-left: 0.4em;
   padding-bottom: 0.3em;
  /*margin-right: 0.2em;*/
  vertical-align: bottom;
  color: transparent;  
}



   input[type=checkbox]:checked.accept + label:before {
  background-color: mediumseagreen;
  color: #fff;
  border-color: mediumseagreen;

} 



input[type=checkbox]:checked.reject + label:before {
  background-color: red;
  color: #fff;
  border-color: red;

} 