.section
{
    position: relative;
    min-height: 80vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
}

.section .container
{
  position: relative;
  width:800px;
  height: 500px;
  color: #333;
  background-color: #424242;
  box-shadow: 5px 25px 50px#9e9e9e;  
}

.section .container:hover
{
    box-shadow: 5px 25px 50px #616161 ;
}

.section .container .user
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #333;
} 

.section .container .user .imgBx
{
    float:left;
    position: relative;
    width: 50%;
    height: 100%;
    background: #2b2b2b;
    transition: 0.5s;
}

.section .container .user .imgBx img
{
    top: 10%;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.section .container .user .imgBx p
{
    margin-top: 25%;
    font: 400 65px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

.section .container .user .formBx
{
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 100%;
    background: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

.section .container .user .formBx form h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color:white;
}



.section .container .user .formBx form input
{
    position: relative;
    width: 100%;
    padding:10px;
    background: #212121;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.section .container .user .formBx form select
{
    position: relative;
    width: 100%;
    padding:10px;
    background: #212121;
    color: #777;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.section .container .user .formBx form input[type="submit"]
{
    max-width: 100px;
    /* background: #677eff; */
    margin-left: 30%;
    background: #9e9e9e;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

.section .container .user .formBx form input[type="submit"]:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
    color: black;
}

.section .container .user .formBx form .signup
{
    position: relative;
    margin-top: 8px;
    margin-left: 110px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    /* text-transform: uppercase; */
    font-weight: 300;
}

.section .container .user .formBx form .signup a
{
    font-weight: 600;
    text-decoration: none;
    color: #9e9e9e;
}

@media (max-width: 991px)
{
    .section .container
    {
        max-width:400px;
    }
    .section .container .imgBx
    {
        display:none;       
    }
    .section .container .user .formBx
    {
        width:100%;
    }

}
